<%= include("header") %>

<div class="text-center center-div mt-5" id="login">
    <div class="container w-25 border py-5 mt-5">
        <h1>404 Account does not exist</h1>
        <h5>Please create and account </h5>
        <a href="/404">Log out</a>
    </div>
</div>
<%= include("footer") %>
